<?xml version="1.0"?>

<model>
  <name>ssrc_fog_x</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Petr Stibinger</name>
    <email>stibinger@fly4future.com</email>
  </author>

  <description>
    Holybro x500 platform with an A3 rplidar and GPS
  </description>

</model>
